body {
background-color: black;

}
header {
  padding: 55px;
  font-style: oblique;
  text-align: center;
  background-color: goldenrod;
} 

p {
  padding: 20px;
  font-style: italic;
  text-align: center;
  background-color: goldenrod;
}

.chapter {
  padding: 10px;
  text-align: center;
  background-color: goldenrod;
  margin-block: 20px;
  margin-left: 150px;
  font-size: medium;
}

.chapter2 {
  padding: 10px;
  text-align: center;
  background-color: goldenrod;
  margin-block: 50px;
  margin-left: 150px;
  font-size:medium;
}

li {
    color: black;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
}

img {
  padding-left: 500px;
  padding-top: 20px;
}

a:visited {
  color:goldenrod;
}

a:hover {
  color:black;
}

figcaption{
    color:goldenrod;
    text-align: center;
    padding-left: 100px;
}

fieldset{
    color:goldenrod;
}

table{
    color:goldenrod; 
}

#gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    row-gap: 10px;
    column-gap: 10px;
}

#gallery img{
    width: 30%;
    height: auto;
}

div{
    position:relative;
    top: 10px;
    right: 100px;
}

li:hover{
    background-color: whitesmoke; 
}


@media (max-width:600px) {
    body{
        font-size: 16px;
        padding: 10px
    }
    
    li {
        display: block;
        margin: 10px 0; 
    }

    nav {
        text-align: center;
    }

    header,.chapter,.chapter20{ 
        padding: 10px;

    }

}